{% extends "base.html" %}
  {% block title %} <title>Bin | {{ super() }}</title>{% endblock %}
  {% block container %}
    {% include 'style.html' %}
</head>

<body>
  {% include 'menu.html' %}
  <main class="container">
    <h1 class="h3 my-4">Корзина</h1>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
               <div class="alert alert-warning" role="alert">
                  {{ message }}
               </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
    {% if not is_login %}
      <div class="alert alert-warning" role="alert">Чтобы сделать заказ – <a href="{{ url_for("login_view") }}">войдите</a> или <a href="{{ url_for("register_view") }}">зарегистрируйтесь</a></div>
    {% endif %}
    <div class="row mt-5">


        <div class="col-4">
          <form action="{{ url_for("cart_view") }}" method="POST">
          <h4 class="">Ваши данные</h4>
          <div class=" md-4 order-md-1">
            <div class="mt-3 mb-3">
              {{ form.name.label }}
              {{ form.name(class_="font-weight-bold form-control") }}
            </div>
          </div>
          {% for error in form.name.errors %}
            <div class="alert alert-danger mt-4" role="alert">{{ error }}</div>
          {% endfor %}
          <div class=" md-4 order-md-1">
            <div class="mt-3 mb-3">
              {{ form.address.label }}
              {{ form.address(class_="font-weight-bold form-control") }}
            </div>
          </div>
          {% for error in form.address.errors %}
            <div class="alert alert-danger mt-4" role="alert">{{ error }}</div>
          {% endfor %}
          <div class="md-4 form-label-group">
             {{ form.mail.label }}
             {{ form.mail(class_="form-control") }}
          </div>
          {% for error in form.mail.errors %}
            <div class="alert alert-danger mt-4" role="alert">{{ error }}</div>
          {% endfor %}
          <div class=" md-4 order-md-1">
            <div class="mt-3 mb-3">
              {{ form.phone.label }}
              {{ form.phone(class_="font-weight-bold form-control") }}
            </div>
            {% for error in form.phone.errors %}
                <div class="alert alert-danger mt-4" role="alert">{{ error }}</div>
            {% endfor %}
           {{ form.csrf_token }}
           {{ form.order_summ(class_="form-control", value=meals_in_cart|sum(attribute='sum') ) }}
           {% if meals_in_cart|length > 0 and is_login %}
              {{ form.submit(class_="mt-3 mb-5 btn btn-danger") }}
           {% endif %}
          </form>
        </div>



        </div>



      <div class="col-1"></div>
      <div class="col-7">
      {% if meals_in_cart|length > 0 %}
          <h4 class="mb-3 col-7 mb-5">{{ meals_in_cart|sum(attribute='quantity') }} {{ dish }} в корзине </h4>
          <table class="table">
              <tbody>
              {% for meal in meals_in_cart %}
                  <tr>
                      <th scope="row">{{ meal.title }}</th>
                      <td></td>
                      <td>{{ meal.quantity }}</td>
                      <td>{{ meal.sum }}</td>
                      <td><a class="text-danger" href="{{ url_for('removefromcart_view', meal_id=meal.id) }}">Удалить</a></td>
                  </tr>

              {% endfor %}
              </tbody>
          </table>
          <hr>
          <p class="display-4 my-2 ">{{ meals_in_cart|sum(attribute='sum') }} руб</p>
      {% else %}
          <h4 class="mb-3 col-7 mb-5">Корзина пока пуста</h4>
      {% endif %}
      </div>
    </div>
  </main>
  {% include 'footer.html' %}
</body>
</main>
 {% endblock %}